@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profileContainerTitle {
    margin-bottom: 30px;
}

.profileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePicture {
    display: flex;
    align-items: flex-end;
}

.profileImg {
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.browse {
    margin-left: 30px;
}

.profileEmail {
    margin-top: 20px;
    margin-bottom: 10px;
    color: burlywood;
}

.btnDelete {
    background-color: rgb(99, 2, 2);
    position: absolute;
    left: 200px;
    top: 845px;
}

.btnDelete:hover {
    background-color: red;
}

.profileUsername {
    color: burlywood;
    font-family: "Comforter Brush";
    font-size: 2.5em;
    margin-right: 5px;
}
