*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 1600px;
    background-color: #433F40;
    margin: 0 auto;
    padding: 80px;
    height: 82.7vh;
    overflow: auto;
  }
