*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.main {
    width: 1600px;
    height: auto;
    background-color: #433F40;
    margin: 0 auto;
    padding: 80px;
    /* height: 100%; */
  }

